<!doctype html>
<head>
	<title>{% block title %}{% endblock %} - UK Box Office</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
</head>
<div class="container grid-lg pt-2">
<header class="navbar p-2">
	<section class="navbar-section">
		<a href="/" class="navbar-brand mr-2">UK Box Office</a>
		<a href="{{ url_for('index.films') }}" class="btn btn-link">Films</a>
		<a href="{{ url_for('index.distributors') }}" class="btn btn-link">Distributors</a>
		<a href="{{ url_for('index.countries') }}" class="btn btn-link">Countries</a>
	</section>
	<section class="navbar-section">
		<div class="input-group input-inline">
			<input class="form-input" type="text" placeholder="search">
			<button class="btn btn-primary input-group-btn">Search</button>
		</div>
	</section>
</header>
</div>

<div class="content pt-2" style="min-height: 850px;">
  <header>
	<div class="container grid-lg pt-2">
		<div class="columns">
			<div class="column col-xs-6">
				{% block header %}{% endblock %}
				<div class="divider"></div>
		</div>
	</div>
  </header>
  {% block content %}{% endblock %}
</div>
<div class="divider"></div>


<footer class="p-2 bg-dark text-secondary text-small" style="display: flex; min-height: 300px; flex-direction: row; width: 100%; justify-content: space-evenly; align-items: left;">
	<div class="container grid-lg pt-2">
		<ul class="nav">
			<li class="nav-item">
				<strong>
					<a href="{{ url_for('api.api') }}" class="text-secondary">UK Box Office</a>
				</strong>
			</li>
			<li class="nav-item">
				<strong>
					<a href="{{ url_for('api.api') }}" class="text-secondary">About</a>
				</strong>
			</li>
			<li class="nav-item">
				<strong>
					<a href="{{ url_for('api.api') }}" class="text-secondary">Contact</a>
				</strong>
			</li>
			<li class="nav-item">
				<strong>
				<a href="{{ url_for('api.api') }}" class="text-secondary">API</a>
				</strong>
			</li>
		</ul>
	</div>
</footer>