{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block header %}
	
{% endblock %}

{% block content %}
	<div id="dash" class="container">
		<div class="columns pt-2 pb-2">
			<div class="column col-xs-6 pt-b2 pb-2">
				<div class="input-group pt-2 pb-2">
					<input id="start" class="form-input input-sm"></input>
					<input id="end" class="form-input input-sm"></input>
					<button class="btn btn-primary input-group-btn btn-sm" v-on:click="filter_date">Filter</button>
				</div> 
			</div>
			<div class="column col-xs-6">

			</div>
		</div>
		<div class="columns">
			<div class="column col-xs-6">
				<line-chart class="pt-2 pb-2" v-if="loaded" :chartdata="chartdata" :options="options"></line-chart>
			</div>
			<div class="column col-xs-6">
				<table class="table box-table table-hover pt-2">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Weeks</th>
							<th>Total Gross</th>
						</tr>
					  </thead>
					  <tbody id="results">
							<tr class="" v-for="(item, index) in sortedfilms">
								<td class="text-small">${ index + 1 }</td>
								<td class="text-small">${ item.film_id | TitleCase }</td>
								<td class="text-small">${ item.weeks_on_release }</td>
								<td class="text-small">£ ${ item.week_gross | Currency }</td>
							</tr>
					  </tbody>
				</table>
			</div>
		</div>
	</div>

	<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
	<script src="https://unpkg.com/js-datepicker"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
	<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

{% endblock %}