{% extends 'base.html' %}

{% block title %} {{ time }} {% endblock %}

{% block schema %}
	{
		"@context":"https://schema.org/",
		"@type":"Dataset",
		"name":"{{ time }} Box Office Data",
		"description":"Weekly UK Cinema Box Office data for {{ time }}.",
		"url":"/",
		"isBasedOn":"https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures",
		"keywords":[
		"BOX OFFICE DATA > CINEMA > {{ time }}",
		],
		"isAccessibleForFree" : true,
		"creator":{
		"@type":"Organization",
		"url": "https://boxofficedata.co.uk",
		"name":"Box Office Data UK",
		"contactPoint":{
			"@type":"ContactPoint",
			"contactType": "customer service",
			"email":"hello@boxofficedata.co.uk"
		}
		},
		"funder":{
		"@type": "Organization",
		"sameAs": "https://ror.org/04qg9vz18",
		"name": "British Film Institute"
		},
		"includedInDataCatalog":{
		"@type":"DataCatalog",
		"name":"Box Office Data UK"
		},
		"distribution":[
		{
			"@type":"DataDownload",
			"encodingFormat":"CSV",
			"contentUrl":"https://boxofficedata.co.uk"
		},
		],
		"temporalCoverage":"{{ time }}",
	}
{% endblock %}

{% block header %}
	<nav aria-label="breadcrumb" class="mt-5">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/">Home</a></li>
		  <li class="breadcrumb-item"><a href="{{ url_for('index.time') }}">Dates</a></li>
		  <li class="breadcrumb-item active" aria-current="page">{{ time }}</li>
		</ol>
	  </nav>

	<h1 class="mt-4">UK Box Office {{ time }}</h1>
{% endblock %}

{% block content %}	

	<div class="container">
		<div class="p-centered">

			<canvas id="myChart" class="" width="100%" height="50px"></canvas>
			
			<hr>

			{% for j in months %}
				<a class="badge rounded-pill bg-light text-dark" href="{{ url_for('index.all_time', year=year, month=j) }}">{{ j|date_convert_to_month }}</a>
			{% endfor %}
			<a href="{{ url_for('index.time_csv', year=year) }}">
				<button type="button" class="btn btn-outline-primary float-end">Export (.csv)</button>
			</a>
		</div>

		<div class="columns">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Film</th>
						<th>Total Gross</th>
					</tr>
					</thead>
					<tbody>
					{% for i in table_data %}
						<tr class="">
							<td>{{ loop.index }}</td>
							<td><a class="action" href="{{ url_for('index.film', slug=i['slug']) }}">{{ i['title']|title }}</a></td>
							<td>{{ "£ {:,}".format(i['week_gross']) }}</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		function graph(time_dates, week_gross) {
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: time_dates,
					datasets: [{
						label: 'Box Office',
						data: week_gross,
						backgroundColor: [
							'#FF8321',
						],
						borderColor: [
							'#FF8321',
						],
						pointStyle: 'circle',
						tension: 0.3,
						yAxisID: 'y'
					}]
				},
				options: {
					scales: {
						x: [{
							type: 'time',
							offset: true,
							time: {
								unit: 'week'
							},
						}],
						y: {
							beginAtZero: true,
							ticks: {
								callback: function(value, index, values) {
									return '£ ' + value;
								}
							}
						},
					}
				}
			});
		}
		
		var time_dates = []
		var week_gross = []
		'{% for i in graph_data %}'
	
			time_dates.push('{{ i["date"]|date_convert }}')
			week_gross.push('{{ i["week_gross"] }}')
	
		'{% endfor %}'
	
		graph(time_dates, week_gross)
	
	</script>

{% endblock %}