{% extends 'base.html' %}

{% block title %}Time{% endblock %}

{% block header %}
<ul class="breadcrumb">
	<li class="breadcrumb-item">
	<a href="/">Home</a>
	</li>
	<li class="breadcrumb-item">
	<a href="{{ url_for('index.time') }}">Dates</a>
	</li>
</ul>

<h1>Time</h1>

{% endblock %}

{% block content %}
	<div class="container grid-lg">
		<div class="columns">
			<div class="column col-xs-10">

				<table class="table table-striped table-hover pt-2 pb-2">
					<thead>
						<tr>
						  <th>Year</th>
						  <th>Months</th>
						</tr>
					  </thead>
					  <tbody>
						{% for i in years %}
							<tr class="">
								<td><a class="action" href="{{ url_for('index.year', year=i) }}">{{ i }}</a></td>
								<td>
									{% for j in months %}

										<a class="action chip" href="{{ url_for('index.month', year=i, month=j) }}">{{ j|date_convert_to_month }}</a> 
				
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					  </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}