amqp==5.0.6
APScheduler==3.8.1
attrs==21.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
black==21.9b0
blinker==1.4
certifi==2021.5.30
charset-normalizer==2.0.6
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
commonmark==0.9.1
coverage==5.5
elasticsearch==7.15.1
Flask==2.0.1
Flask-APScheduler==1.12.2
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
mypy-extensions==0.4.3
numpy==1.21.2
packaging==21.0
pandas==1.3.3
pathspec==0.9.0
platformdirs==2.3.0
pluggy==1.0.0
prompt-toolkit==3.0.21
py==1.10.0
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.0
python-slugify==5.0.2
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
regex==2021.8.28
requests==2.26.0
rich==10.12.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.0.2
-e git+ssh://git@github.com/AndyRae/uk-box-office-flask.git@b58da59e7ecda8771aaacb091ec6b64fb5911031#egg=uk_box_office_flask
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.1
xlrd==2.0.1
