{% extends 'base.html' %}

{% block title %}Countries{% endblock %}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Project",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
		"logo" : "/static/icon-hires.png"
	}
{% endblock %}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li aria-current="page"><span>Countries</span></li>
		</ul>

		<h1 class="">Countries</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<ul class="uk-list uk-list-divider">
			{% for i in data %}
				<li>
					<a class="" href="{{ url_for('index.country', slug=i['slug']) }}">{{ i["name"] }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
