{% extends 'base.html' %}

{% block title %}
UK Box Office Data - Insight and and analysis for UK film industry.
{% endblock %}

{% block schema %}
	{
	"@context": "https://schema.org/",
	"@graph":
		[{
		"@type": "Organization",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
		"logo": {
			"@type": "ImageObject",
			"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
			}
		},
		{
			"@type": "WebSite",
			"url": "https://boxofficedata.co.uk",
			"potentialAction": {
			"@type": "SearchAction",
			"target": {
				"@type": "EntryPoint",
				"urlTemplate": "https://boxofficedata.co.uk/search?q={search_term_string}"
			},
			"query-input": "required name=search_term_string"
			}
		}
		]
	}
{% endblock %}

{% block content %}
	<div id="dash" class="uk-container uk-container-xlarge">

		<div v-bind:class="{ loading: loading }">
			<div class="uk-inline">
				<input class="uk-input uk-form-width-small date-picker date-start"
				type="date" id="start" aria-label="Filter Start Date">
			</div>

			<div class="uk-inline">
				<input class="uk-input uk-form-width-small date-picker date-end"
				type="date" id="end" aria-label="Filter End Date">
			</div>

			<button class="uk-button uk-button-default uk-button-small bg-red" v-on:click="filter_date">Filter</button>

			<div class="uk-button-group uk-width-auto" role="group" aria-label="Filters">
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(7)">7 days</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(30)">30 days</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(90)">3 months</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(183)">6 months</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(365)">1 year</button>
			</div>
			<span :uk-spinner="loading"></span>

		</div>

		<div class="uk-grid" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 1; repeat: true">

			<div class="uk-grid uk-grid-small uk-margin-small-top uk-width-1-2@l" v-bind:class="{ loading: loading }" uk-grid="masonry: true">

				<div class="uk-width-1-1@s uk-flex-first">
					<div class="uk-card uk-card-small uk-card-body border-dash">
						<h6 class="uk-text-meta">Total UK Box Office</h6>
						<line-chart :chartdata="chartdata" :options="options" v-cloak></line-chart>
					</div>
				</div>

				<div class="uk-width-1-1@s">
					<div class="uk-card uk-card-small uk-card-body border-dash">
						<h6 class="uk-text-meta">UK Box Office per film</h6>
						<area-chart :chartdataarea="chartdataarea" :optionsarea="optionsarea" v-cloak></area-chart>
					</div>
				</div>

				<div class="uk-width-1-2@s">
					<div class="uk-card uk-card-small bg-dash border-dash">
						<div class="uk-card-body">
							<h6 class="uk-text-meta">Number of cinemas</h6>
							<div class="dash-title uk-text-center" v-cloak>${ numberOfCinemas }</div>
						</div>
					</div>
				</div>

				<!-- <div class="uk-width-1-2@s">
					<div class="uk-card uk-card-small bg-dash border-dash">
						<div class="uk-card-body">
							<h6 class="uk-text-meta">Visualising box office data back to 2001</h6>
							<div class="dash-title uk-text-center">UK Box Office</div>
						</div>
					</div>
				</div> -->

				<div class="uk-width-1-2@s">
					<a class="uk-card-link" href="{{ url_for('index.time') }}">
						<div class="uk-card uk-card-small border-dash uk-box-shadow-hover-large">
							<div class="uk-card-media-top">
								<img src="{{ url_for('static', filename='icons/2.png') }}" alt="">
							</div>
							<div class="uk-card-body">
								<h4 class="uk-card-title">Annual Data</h4>
							</div>
						</div>
					</a>
				</div>

			</div>

			<div class="uk-grid uk-grid-small uk-margin-small-top uk-width-1-2@l" v-bind:class="{ loading: loading }" uk-grid="masonry: true">
				<div class="uk-width-1-2@s">
					<div class="uk-card uk-card-small bg-dash border-dash">
						<div class="uk-card-body">
							<h6 class="uk-text-meta">Total UK Box Office</h6>
							<div class="dash-title uk-text-center" v-cloak>£ ${ boxOffice | Currency }</div>
						</div>
					</div>
				</div>

				<div class="uk-width-1-2@s">
					<div class="uk-card uk-card-small bg-dash border-dash">
						<div class="uk-card-body">
							<h6 class="uk-text-meta">Recent Weeks</h6>
							{% for i in dates %}
								<a class="uk-label bg-red uk-text-white" href="{{ url_for('index.week_detail', year=i.date.year, month=i.date.month, start_day=i.date.day) }}">
									{{ i.date|date_convert }}
								</a>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="uk-width-1-2@s">
					<div class="uk-card uk-card-small bg-dash border-dash">
						<div class="uk-card-body">
							<h6 class="uk-text-meta">Number of films</h6>
							<div class="dash-title uk-text-center" v-cloak>${ numberOfFilms }</div>
						</div>
					</div>
				</div>

				<div class="uk-width-1-2@s">
					<a class="uk-card-link" href="{{ url_for('index.week_detail', year=dates[0].date.year, month=dates[0].date.month, start_day=dates[0].date.day) }}">
						<div class="uk-card uk-card-small bg-dash uk-box-shadow-hover-large border-dash">
							<div class="uk-card-body">
								<h6 class="uk-text-meta">
									Last updated
								</h6>
								<div class="dash-title uk-text-center" v-cloak>

									${ lastUpdated }
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="uk-width-1-1@s">
					<div class="uk-card uk-card-small uk-card-body border-dash">
						<div class="uk-overflow-auto">
							<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped box-table" v-cloak>
								<thead>
									<tr>
										<th></th>
										<th>Title</th>
										<th class="uk-text-center">Box Office</th>
										<th class="uk-text-center">Week</th>
										<th>Distributor</th>
									</tr>
									</thead>
									<tbody id="results">
										<tr v-for="(item, index) in sortedfilms.slice(0, 100)">
											<td class="text-small uk-text-center">${ index + 1 }</td>
											<td class="text-small"><a :href="`/films/${ item.film_slug }/`">${ item.film | TitleCase }</a></td>
											<td class="text-small uk-text-center" style="min-width:100px">£${ item.week_gross | Currency }</td>
											<td class="text-small uk-text-center">${ item.weeks }</td>
											<td class="text-small">${ item.distributor | TitleCase }</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" defer></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js" defer></script>

	<script>
		let queryData = [];
		let lastDate = '{{ data[0].date|date_convert }}';

		'{% for i in data %}'
			queryData.push({
				'date':'{{ i.date }}',
				'film': '{{ i.film.name|title }}',
				'film_slug': '{{ i.film.slug }}',
				'distributor': '{{ i.distributor }}',
				'week_gross': ({{ i.week_gross }}),
				'number_of_cinemas': {{ i.number_of_cinemas }},
				'weeks_on_release': {{ i.weeks_on_release }},
			})

		'{% endfor %}'
	</script>
	<script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>

{% endblock %}
