{% extends 'base.html' %}

{% block title%}{{ title|title }}{% endblock%}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Organization",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
				"logo": {
			"@type": "ImageObject",
			"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
		}
	}
{% endblock %}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li aria-current="page"><span>{{ title|title }}</span></li>
		</ul>

		<h1>{{ title|title }}</h1>
	</div>
{% endblock %}
{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<article class="uk-article uk-container-xsmall">
			{{ text }}
		</article>

	</div>
{% endblock %}
