{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Project",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
		"logo" : "/static/icon-hires.png"
	}
{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="{{ url_for('index.search') }}">Search</a></li>
		<li aria-current="page"><span>Results</span></li>
	</ul>

	<h1 class="">Results</h1>
</div>

{% endblock %}

{% block content %}
    <div class="uk-container uk-margin-medium-top">
        <div class="table-responsive uk-overflow-auto">
            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
                <thead>
                    <tr>
                        <th>Film</th>
                        <th>Distributor</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in results %}
                        <tr class="">
                            <td><a class="action" href="{{ url_for('index.film', slug=i['slug']) }}">{{ i['name']|title }}</a></td>
                            <td>{{ i['distributor']|title}}</td>
                            <td>
                                {% for j in i.countries %}
                                    <a href="{{ url_for('index.country', slug=j['slug']) }}">{{ j }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>

        <nav aria-label="...">
            <ul class="uk-pagination">
                {% if prev_url %}
                <li class="previous{% if not prev_url %} uk-disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span uk-pagination-previous></span>
                        {{ ('Previous') }}
                    </a>
                </li>
                {% endif %}
                {% if next_url %}
                <li class="next{% if not next_url %} uk-disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ ('Next') }}
                        <span uk-pagination-next></span>
                    </a>
                </li>
                {% endif %}
            </ul>

        </nav>

    </div>

{% endblock %}
