{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Organization",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
				"logo": {
			"@type": "ImageObject",
			"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
		}
	}
{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li aria-current="page"><span>Results</span></li>
	</ul>

	<h1>Results</h1>
</div>

{% endblock %}

{% block content %}
    <div class="uk-container uk-margin-medium-top">

        <ul class="uk-list uk-list-large uk-list-divider">
            {% for i in results %}
                {% if type == 'films' %}
                    <li>
                        <h4>
                            <a class="action" href="{{ url_for('index.film', slug=i.slug) }}">
                                {{ i.name|title }}
                            </a>

                        </h4>
                        <p>{{ i.distributor|title}}</p>
                        <p>{% for j in i.countries %}
                            <a href="{{ url_for('index.country', slug=j.slug) }}">{{ j }}</a>
                        {% endfor %}
                        </p>
                    </li>
                {% else %}
                <li>
                    <h4>
                        <a class="action" href="{{ url_for('index.distributor', slug=i.slug) }}">
                            {{ i.name|title }}
                        </a>
                    </h4>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <nav aria-label="...">
            <ul class="uk-pagination">
                {% if prev_url %}
                <li class="previous{% if not prev_url %} uk-disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span uk-pagination-previous></span>
                        {{ ('Previous') }}
                    </a>
                </li>
                {% endif %}
                {% if next_url %}
                <li class="next{% if not next_url %} uk-disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ ('Next') }}
                        <span uk-pagination-next></span>
                    </a>
                </li>
                {% endif %}
            </ul>

        </nav>

    </div>

{% endblock %}
