{% extends 'base.html' %}

{% block title %}Time{% endblock %}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Project",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
		"logo" : "/static/icon-hires.png"
	}
{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li aria-current="page"><span>Time</span></li>
	</ul>

	<h1 class="">All Time Box Office</h1>
</div>

{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<div class="p-centered">
			<canvas id="myChart" class="mt-5" width="100%" height="45px"></canvas>
		</div>

		<hr>

		<div class="uk-overflow-auto">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped" id="filmsTable">
				<thead>
					<tr>
						<th class="uk-text-center">Rank</th>
						<th>Film</th>
						<th>Distributor</th>
						<th class="uk-text-center">Box Office</th>
					</tr>
				</thead>
				<tbody>
					{% for i in films %}
						<tr >
							<td class="uk-text-center">{{ loop.index }}</td>
							<td>
								<a class="action" href="{{ url_for('index.film', slug=i['slug']) }}">
									{{ i|title }}
								</a>
							</td>
							<td><a class="action" href="{{ url_for('index.distributor', slug=i.distributor.slug) }}">{{ i.distributor|title }}</a></td>
							<td class="uk-text-center">{{  "£{:,}".format(i.weeks[-1].total_gross) }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<button type="button" onclick="exportToCSV(filmsTable)" class="uk-button uk-button-default uk-margin-medium-top">
			Export (.csv)
		</button>

		<hr class="uk-margin-medium-top">

		<div class="uk-overflow-auto uk-margin-medium-top">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped" id="yearTable">
				<thead>
					<tr>
						<th>Year</th>
						<th class="uk-text-center">Box Office</th>
						<th class="uk-text-center">Change</th>
					</tr>
					</thead>
					<tbody>
							{% for i in data|reverse %}
							<tr class="">
								<td>
									<a class="action" href="{{ url_for('index.year_detail', year=i.date.year) }}">
										{{ i.date.year }}
									</a>
								</td>
								<td class="uk-text-center">{{ "£{:,}".format(i['week_gross']) }}</td>
								{% if i['pct_change'] > 0 %}
									<td class="uk-text-success uk-text-center">{{ i['pct_change']|round(2) }}%</td>
								{% elif i['pct_change'] < 0 %}
									<td class="uk-text-danger uk-text-center">{{ i['pct_change']|round(2) }}%</td>
								{% else %}
									<td class="uk-text-center">-</td>
								{% endif %}
							</tr>
							{% endfor %}
					</tbody>
			</table>
		</div>
		<button type="button" onclick="exportToCSV(yearTable)" class="uk-button uk-button-default uk-margin-medium-top">
			Export (.csv)
		</button>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		function graph(time_dates, week_gross) {
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: time_dates,
					datasets: [{
						label: 'Box Office',
						data: week_gross,
						backgroundColor: [
							'#FE7E6D',
						],
						borderColor: [
							'#FE7E6D',
						],
						pointStyle: 'circle',
						tension: 0.3,
						yAxisID: 'y'
					}]
				},
				options: {
					scales: {
						x: {
							grid: {
								display:false
							},
							offset: false,
						},
						y: {
							beginAtZero: true,
							ticks: {
								autoSkip: true,
								stepSize: 100000000,
								callback: function(value, index, values) {
									var ranges = [
										{ divider: 1e6, suffix: 'M' },
										{ divider: 1e3, suffix: 'k' }
									];
									function formatNumber(n) {
										for (var i = 0; i < ranges.length; i++) {
										if (n >= ranges[i].divider) {
											return (n / ranges[i].divider).toString() + ranges[i].suffix;
										}
										}
										return n;
									}
									return '£' + formatNumber(value);
								}
							}
						},
					}
				}
			});
		}

		function exportToCSV(tableEle, separator = ','){
			const head = ["Year", "Box Office", "Change"]
			let csvRows = [head]
			//only get direct children of the table in question (thead, tbody)
			Array.from(tableEle.children).forEach(function(node){
				//using scope to only get direct tr of node
				node.querySelectorAll(':scope > tr').forEach(function(tr){
					let csvLine = []
					//again scope to only get direct children
					tr.querySelectorAll(':scope > td').forEach(function(td){
						//clone as to not remove anything from original
						let copytd = td.cloneNode(true)
						let data = copytd.textContent

						data = data.replace(/(\s\s)/gm, ' ').replace(/"/g, '""')
						csvLine.push('"'+data+'"')
					})
					csvRows.push(csvLine.join(separator))
				})
			})
			var a = document.createElement("a")
			a.style = "display: none; visibility: hidden" //safari needs visibility hidden
			a.href = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvRows.join('\n'))
			a.download = 'box_office.csv'
			document.body.appendChild(a)
			a.click()
			a.remove()
		}

		var time_dates = []
		var week_gross = []
		'{% for i in data %}'

			time_dates.push('{{ i.date.year }}')
			week_gross.push('{{ i.week_gross }}')

		'{% endfor %}'

		graph(time_dates, week_gross)

	</script>

{% endblock %}
