beautifulsoup4
coverage
Flask
Flask-APScheduler
Flask-Caching
flask-cors
Flask-Limiter
flask-marshmallow
marshmallow-sqlalchemy
Flask-SQLAlchemy
gunicorn
mypy
pandas
pip-tools
pre-commit
prophet
psycopg2-binary
pytest
python-dotenv
python-slugify
requests
virtualenv
xlrd
