body {
  	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::selection {
	background: #FF8321;
	color: white;
}
a {
	color: #00253C;
}

a:hover {
	color: #00253C;
}

a:visited {
	color: #00253C;
}

.container {
	padding: 0;
}

.box-table {
	display: block;
	width: 100%;
	max-height: 850px;
	overflow-y: scroll;
	font-size: 0.9em;
}

.box-table {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.box-table::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
	.navbar-brand.abs
		{
			position: absolute;
			width: auto;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}
	}


.form-input {
	background: #fff0;
	color: #000;
	border-radius: 0;
	border: none;
}
.form-input:focus {
	border: none;
	box-shadow: none;
}
.date-picker {
	border: none;
	font-size: 0.9em;
}

.qs-datepicker-container {
	border-radius: 0 !important;
}

.btn-filter {
	height: 100%;
}

.btn-primary {
	background-color: #FF8321;
	border-color: #FF8321;
	color: #000;
}

.btn-primary:hover {
	background-color: #ffac6c;
	color: #000;
}

.search {
	background-color: #fff0;
	border: none;
}

.footer {
	min-height: 250px;
	padding-top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-size: 0.8em;
	text-align: left;
}

.footer a {
	color: #FFF;
	text-decoration: none;
}

.footer-link {
	display: inline;
	padding: 0 10px 0 10px;

}

.seperator {
    border: #FFF 2px solid;
	background-color: #FFF;
    width: 100%;
}

.dash {
	max-width: 1900px;
}

.bg-dash {
	background-color: #FFECEB;
	border: none;
}

.border-dash {
    border: 1px solid #FFBDB7;
}

/* .mt-5 {
	margin-top: 2rem !important;
}

.mb-5 {
	margin-bottom: 2rem !important;
} */
/*
@media (prefers-color-scheme:dark) {
	body {
		background: #21212C;
		color: #fff;
	}
	a {
		color: #fff !important;
	}
	.chip {
		color: #000 !important;
	}
	.table.table-striped tbody tr:nth-of-type(odd) {
		background: #000;
	}
	.table.table-hover tbody tr:hover {
		background: #000;
	}
	.form-input {
		color: #FFF;
	}
	.search-bar {
		color: #000 !important;
	}
} */
