body {
  	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::selection {
	background: #FF8321;
	color: white;
}
a {
	color: #00253C;
}

a:hover {
	color: #00253C;
}

a:visited {
	color: #00253C;
}

.container {
	padding: 0;
}

.box-table {
	display: block;
	width: 100%;
	max-height: 850px;
	overflow-y: scroll;
	font-size: 0.9em;
}

.box-table {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.box-table::-webkit-scrollbar {
    display: none;
}

.dash {
	/* border: 1px solid lightgrey; */
	/* font-family: monospace; */
}

.navbar {
	/* height: 40px; */
	/* padding-left: 20px; */
	background-color: rgba(0,0,0,0.8) !important;
}

.navbar-nav.navbar-center {
	margin-left: auto;
	margin-right: auto;
}

.form-input {
	background: #fff0;
	color: #000;
	border-radius: 0;
	border: none;
}
.form-input:focus {
	border: none;
	box-shadow: none;
}

/* ::placeholder {
	color: #fff !important;
} */

.date-picker {
	/* padding-left: 15px !important; */
	border: none;
	background-color: #d3d3d33b;
}

.qs-datepicker-container {
	border-radius: 0 !important;
}

.btn-filter {
	border-radius: 0;
	border: none;
}

.btn-primary {
	background-color: #FF8321;
	color: #000;
}

.btn-primary:hover {
	background-color: #ffac6c;
	color: #000;
}

.btn-success {
	background-color: #ff9948;
	color: #000;
}

.btn-warning {
	background-color: #ffaf6f;
	color: #000;
}

.btn-danger {
	background-color: #ffc597;
	color: #000;
}

.btn-success:hover {
	background-color: #faa45d;
	color: #000;
}

.btn-warning:hover {
	background-color: #fcc293;
	color: #000;
}

.btn-danger:hover {
	background-color: #f8d8bf;
	color: #000;
}

.search {
	background-color: #fff0;
	border: none;
}

.control-row {
	border-bottom: 1px solid lightgrey;
}

.control-element {
	border-right: 1px solid lightgrey !important;
	height: 31px;
}

.control-text {
	padding-top: 3px;
}

.footer {
	min-height: 250px;
	padding-top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-size: 0.8em;
	text-align: left;
}

.footer a {
	color: #FFF;
	text-decoration: none;
}

.footer-link {
	display: inline;
	padding: 0 10px 0 10px;

}

.seperator {
    border: #FFF 2px solid;
	background-color: #FFF;
    width: 100%;
}

.vr {
	padding: 0;
}

/* .mt-5 {
	margin-top: 2rem !important;
}

.mb-5 {
	margin-bottom: 2rem !important;
} */
/*
@media (prefers-color-scheme:dark) {
	body {
		background: #21212C;
		color: #fff;
	}
	a {
		color: #fff !important;
	}
	.chip {
		color: #000 !important;
	}
	.table.table-striped tbody tr:nth-of-type(odd) {
		background: #000;
	}
	.table.table-hover tbody tr:hover {
		background: #000;
	}
	.form-input {
		color: #FFF;
	}
	.search-bar {
		color: #000 !important;
	}
} */
