body {
  	margin: 0;
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::selection {
	background: #FE7E6D;
	color: white;
}
a {
	color: #00253C;
}

a:hover {
	color: #00253C;
}

a:visited {
	color: #00253C;
}

.container {
	padding: 0;
}

.box-table {
	display: block;
	width: 100%;
	max-height: 850px;
	overflow-y: scroll;
	font-size: 0.9em;
}

.box-table {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.box-table::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
	.navbar-brand.abs
		{
			position: absolute;
			width: auto;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}
	}


.form-input {
	background: #fff0;
	color: #000;
	border-radius: 0;
	border: none;
}
.form-input:focus {
	border: none;
	box-shadow: none;
}
.date-picker {
	border: none;
	font-size: 0.9em;
}

.qs-datepicker-container {
	border-radius: 0 !important;
}

.btn-primary {
	background-color: #FE7E6D;
	border-color: #FE7E6D;
	color: #000;
}

.btn-primary:hover {
	background-color: #f59f94;
	border-color: #f59f94;
	color: #000;
}

.btn-outline-primary {
	color: #000;
	border-color: #FE7E6D;
}

.btn-outline-primary:hover {
	background-color: #FE7E6D;
	border-color: #FE7E6D;
}

.btn-outline-primary:active {
	background-color: #FE7E6D;
	border-color: #FE7E6D;
}

.search {
	background-color: #fff0;
	border: none;
}

.footer {
	min-height: 250px;
	padding-top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-size: 0.8em;
	text-align: left;
}

.footer a {
	color: #FFF;
	text-decoration: none;
}

.footer-link {
	display: inline;
	padding: 0 10px 0 10px;

}

.seperator {
    border: #FFF 2px solid;
	background-color: #FFF;
    width: 100%;
}

.dash {
	max-width: 1900px;
	/* margin: 5px; */
}

.bg-dash {
	background-color: #FEECE9;
	border: none;
}

.border-dash {
    border: 1px solid #FEECE9;
}

/*
@media (prefers-color-scheme:dark) {
	body {
		background: #21212C;
		color: #fff;
	}
	.bg-light {
		background: #21212C !important;
	}
	.text-dark {
		color: #fff !important;
	}
	a {
		color: #fff !important;
	}
	.btn {
		color: #fff;
	}
	.btn-outline-primary {
		color: #fff;
	}
	.btn:hover {
		color: #fff;
	}
	.btn:active {
		color: #000;
	}
	.uk-card-default {
		background-color: #21212C !important;
	}
	.uk-card-title {
		color: #fff !important;
	}
	.accordion-item, .accordion-button {
		color: #fff;
		background: #21212C;
	}
	.accordion-button:not(.collapsed) {
		background: #000;
		color: #fff;
	}
	.chip {
		color: #000 !important;
	}
	.list-group-item {
		background: #21212C;
	}
	.list-group-item:hover {
		background: #000;
		color: #fff;
	}
	.table {
		color: #fff;
	}
	.table.table-striped tbody tr:nth-of-type(odd) {
		background: #000;
		color: #fff;
	}
	.table-striped>tbody>tr:nth-of-type(odd)>* {
		color: #fff;
	}
	.table.table-hover tbody tr:hover* {
		background: #000;
		color: #fff;
	}
	.table-hover>tbody>tr:hover>* {
		color: #fff;
		background-color: #000;
	}
	.form-input {
		color: #FFF;
	}
	.form-control {
		background-color: #000;
		color: #fff;
	}
	.form-control:focus {
		background-color: #000;
		color: #fff;
	}
} */
