{% extends 'base.html' %}
{% import 'includes/pagination.html' as pagination %}

{% block title%}Distributors{% endblock%}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Organization",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
				"logo": {
			"@type": "ImageObject",
			"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
		}
	}
{% endblock %}

{% block header %}

	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li aria-current="page"><span>Distributors</span></li>
		</ul>

		<h1>Distributors</h1>
	</div>

{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
			<thead>
				<tr>
					<th>Distributor</th>
				</tr>
				</thead>
				<tbody>
				{% for i in data.items %}
					<tr>
						<td><a class="action" href="{{ url_for('index.distributor', slug=i.slug) }}">{{ i["name"]|title }}</a></td>
					</tr>
				{% endfor %}
				</tbody>
		</table>

		{{ pagination.render_pagination(data, 'index.distributors') }}
	</div>
{% endblock %}
