{% extends 'base.html' %}

{% block title %}Reports{% endblock %}

{% block schema %}

{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li aria-current="page"><span>Reports</span></li>
	</ul>

	<h1>Reports</h1>
</div>
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-medium-top">
	<div class="uk-grid" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 1; repeat: true" uk-grid="masonry: true">

			<div class="uk-width-1-3@s">
				<a class="uk-card-link" href="{{ url_for('index.market_share') }}">
					<div class="uk-card uk-card-small uk-box-shadow-hover-large">
						<div class="uk-card-media-top">
							<img src="{{ url_for('static', filename='images/market-share.png') }}" alt="">
						</div>
						<div class="uk-card-body">
							<h4 class="uk-card-title">Distributor Market Share</h4>
						</div>
					</div>
				</a>
			</div>

			<div class="uk-width-1-3@s">
				<a class="uk-card-link" href="{{ url_for('index.top_films') }}">
					<div class="uk-card uk-card-small uk-box-shadow-hover-large">
						<div class="uk-card-media-top">
							<img src="{{ url_for('static', filename='images/highest.png') }}" alt="">
						</div>
						<div class="uk-card-body">
							<h4 class="uk-card-title">Highest Grossing Films</h4>
						</div>
					</div>
				</a>
			</div>

			<div class="uk-width-1-3@s">
				<a class="uk-card-link" href="{{ url_for('index.time') }}">
					<div class="uk-card uk-card-small uk-box-shadow-hover-large">
						<div class="uk-card-media-top">
							<img src="{{ url_for('static', filename='images/annual.png') }}" alt="">
						</div>
						<div class="uk-card-body">
							<h4 class="uk-card-title">Annual Data</h4>
						</div>
					</div>
				</a>
			</div>

	</div>

</div>


{% endblock %}
