{% extends 'base.html' %}

{% block title %}Time{% endblock %}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@graph":
			[{
			"@type": "Organization",
			"name" : "UK Box Office Data",
			"url" : "https://boxofficedata.co.uk",
			"logo": {
				"@type": "ImageObject",
				"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
				}
		},
			{
			"@context":"https://schema.org/",
			"@type":"Dataset",
			"name":"UK Box Office Revenue 2001 - 2022",
			"description":"UK Box Office Revenue 2001 - 2022.",
			"url":"https://boxofficedata.co.uk{{ url_for(request.endpoint, **request.view_args) }}",
			"isBasedOn":"https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures",
			"keywords":[
				"BOX OFFICE DATA > CINEMA"
			],
			"isAccessibleForFree" : true,
			"creator":{
				"@type":"Organization",
				"url": "https://boxofficedata.co.uk",
				"name":"Box Office Data UK",
				"contactPoint":{
					"@type":"ContactPoint",
					"contactType": "customer service",
					"email":"hello@boxofficedata.co.uk"
				}
			},
			"funder":{
			"@type": "Organization",
			"sameAs": "https://ror.org/04qg9vz18",
			"name": "British Film Institute"
			},
			"includedInDataCatalog":{
			"@type":"DataCatalog",
			"name":"Box Office Data UK"
			},
			"distribution":[
			{
				"@type":"DataDownload",
				"encodingFormat":"CSV",
				"contentUrl":"https://boxofficedata.co.uk{{ url_for(request.endpoint, **request.view_args) }}"
			}
			],
			"temporalCoverage":"2001 - 2022"
			}
		]
	}
{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li aria-current="page"><span>Time</span></li>
	</ul>

	<h1>All Time Box Office</h1>
</div>

{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<div class="p-centered">
			<canvas id="myChart" class="mt-5" width="100%" height="45px"></canvas>
		</div>

		<hr>

		<div class="uk-overflow-auto">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped" id="filmsTable">
				<thead>
					<tr>
						<th class="uk-text-center">Rank</th>
						<th>Film</th>
						<th>Distributor</th>
						<th class="uk-text-center">Box Office</th>
					</tr>
				</thead>
				<tbody>
					{% for i in films %}
						<tr >
							<td class="uk-text-center">{{ loop.index }}</td>
							<td>
								<a class="action" href="{{ url_for('index.film', slug=i.weeks[0].film_slug) }}">
									{{ i.name|title }}
								</a>
							</td>
							<td>{{ i.distributor|title }}</td>
							<td class="uk-text-center">{{  "£{:,}".format(i.weeks[-1].total_gross) }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<hr class="uk-margin-medium-top">

		<div class="uk-overflow-auto uk-margin-medium-top">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped" id="yearTable">
				<thead>
					<tr>
						<th>Year</th>
						<th class="uk-text-center">Box Office</th>
						<th class="uk-text-center">Change</th>
					</tr>
					</thead>
					<tbody>
							{% for i in data|reverse %}
							<tr>
								<td>
									<a class="action" href="{{ url_for('index.year_detail', year=i.date.year) }}">
										{{ i.date.year }}
									</a>
								</td>
								<td class="uk-text-center">{{ "£{:,}".format(i.week_gross) }}</td>
								{% if i.pct_change > 0 %}
									<td class="uk-text-success uk-text-center">{{ i.pct_change|round(2) }}%</td>
								{% elif i.pct_change < 0 %}
									<td class="uk-text-danger uk-text-center">{{ i.pct_change|round(2) }}%</td>
								{% else %}
									<td class="uk-text-center">-</td>
								{% endif %}
							</tr>
							{% endfor %}
					</tbody>
			</table>
		</div>
		<button type="button" onclick="exportToCSV(yearTable)" class="uk-button uk-button-default uk-margin-medium-top">
			Export (.csv)
		</button>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		var time_dates = []
		var week_gross = []
		'{% for i in data %}'

			time_dates.push('{{ i.date.year }}')
			week_gross.push('{{ i.week_gross }}')

		'{% endfor %}'
	</script>
	<script src="{{ url_for('static', filename='js/time.js') }}"></script>

{% endblock %}
