black
beautifulsoup4
coverage
elasticsearch
flake8
Flask
Flask-APScheduler
Flask-Caching
Flask-DebugToolbar
Flask-SQLAlchemy
Flask-WTF
mypy
pandas
pip-audit
pip-tools
pre-commit
psycopg2
pytest
python-dotenv
python-slugify
requests
virtualenv
xlrd
