<div class="uk-section footer uk-section-primary tm-section-primary uk-margin-large-top uk-padding-remove-bottom">
	<div class="uk-container uk-text-center">
		<hr class="uk-margin-remove-bottom uk-margin-medium-top">
		<div class="uk-margin-top uk-margin-bottom">
			<div uk-grid="" class="uk-child-width-auto@m uk-flex-middle uk-grid uk-grid-stack">
				<div class="uk-first-column">
					<div class="uk-text-left@m uk-text-center">
						<a href="{{ url_for('index.index') }}" class="">
							<strong>UK Box Office Data</strong>
						</a>

					</div>
				</div>
				<div class="uk-margin-auto uk-grid-margin">
					<ul uk-margin="" class="uk-subnav uk-flex-center">
						<li class="uk-text-small">
							<a href="{{ url_for('api.api') }}">About</a>
						</li>
						<li>
							<a href="{{ url_for('api.api') }}">Contact</a>
						</li>
						<li class="">
							<a href="{{ url_for('api.api') }}">Privacy</a>
						</li>
						<li class="">
							<a href="https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures" target="_blank">Data Source</a>
						</li>
						<li class="">
							<a href="{{ url_for('api.api') }}">API</a>
						</li>
						<li class="">
							<a href="{{ url_for('api.api') }}">Privacy</a>
						</li>
						<li class="">
							<a href="{{ url_for('index.films') }}">Films</a>
						</li>
						<li class="">
							<a href="{{ url_for('index.distributors') }}">Distributors</a>
						</li>
						<li class="">
							<a href="{{ url_for('index.countries') }}">Countries</a>
						</li>
						<li class="">
							<a href="{{ url_for('index.time') }}">Time</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
