	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

	<meta name="theme-color" content="#00253C">

	<link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='icons/apple-icon.png') }}">
	<link rel="apple-touch-icon-180x180" sizes="180x180" type="image/png" href="{{ url_for('static', filename='icons/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icons/icon-hires.png') }}">

	<meta name="description" content="UK Box Office cinema data dashboard, statistics and analysis, with current top 10 films." />

	<meta property="og:title" content="UK Box Office Data" />
	<meta property="og:description" content="UK Box Office cinema data dashboard, statistics, and analysis, with current top 10 films." />
	<meta property="og:image" content="{{ url_for('static', filename='icons/1.png') }}" />

	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@AndyRae_">
	<meta name="twitter:image" content="{{ url_for('static', filename='icons/1.png') }}">
	<meta name="twitter:description" content="UK Box Office cinema data dashboard, statistics, reports, and analysis, with current top 10 films." />

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
