<footer class="footer uk-margin-large-top">

	<div class="uk-container uk-margin-large-top">
		<div class="seperator"></div>
		<div class="uk-margin-medium-top">
			<strong>
				<a href="{{ url_for('index.index') }}" class="">UK Box Office</a>
			</strong>
			<a href="{{ url_for('api.api') }}" class="uk-margin-medium-left">About</a>
			<a href="{{ url_for('api.api') }}" class="uk-margin-medium-left">Contact</a>
			<a href="{{ url_for('api.api') }}" class="uk-margin-medium-left">Privacy</a>
			<a href="{{ url_for('api.api') }}" class="uk-margin-medium-left">API</a>
			<a href="{{ url_for('index.films') }}" class="uk-margin-medium-left">Films</a>
			<a href="{{ url_for('index.distributors') }}" class="uk-margin-medium-left">Distributors</a>
			<a href="{{ url_for('index.countries') }}" class="uk-margin-medium-left">Countries</a>
			<a href="{{ url_for('index.time') }}" class="uk-margin-medium-left">Time</a>
		</div>
	</div>
</footer>
