{% extends 'base.html' %}
{% import 'includes/pagination.html' as pagination %}

{% block title %}{{ country.name }}{% endblock %}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Organization",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
		"logo": {
			"@type": "ImageObject",
			"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
		}
	}
{% endblock %}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="{{ url_for('index.countries') }}">Countries</a></li>
			<li aria-current="page"><span>{{ country.name }}</span></li>
		</ul>

		<h1>{{ country.name }}</h1>
	</div>

{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<div class="uk-overflow-auto">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Distributor</th>
						<th>Updated</th>
						<th class="uk-text-center">Weeks</th>
						<th class="uk-text-center">Box Office</th>
					</tr>
					</thead>
					<tbody>
					{% for i in data.items %}
						<tr>
							<td><a class="action" href="{{ url_for('index.film', slug=i.slug) }}">{{ i.name|title }}</a></td>
							<td><a class="action" href="{{ url_for('index.distributor', slug=i.distributor.slug) }}">{{ i.distributor|title }}</a></td>
							<td>{{ i.weeks[-1].date|date_convert }}</td>
							<td class="uk-text-center">{{ i.weeks[-1].weeks_on_release }}</td>
							<td class="uk-text-center">{{ "£{:,}".format(i.weeks[-1].total_gross) }}</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>

		{{ pagination.render_detailed_pagination(data, country.slug, 'index.country') }}


	</div>
{% endblock %}
