{% extends 'base.html' %}
{% import 'includes/pagination.html' as pagination %}

{% block title%}{{distributor.name|title}}{% endblock%}

{% block schema %}
	{
		"@context": "https://schema.org/",
		"@type": "Organization",
		"name" : "UK Box Office Data",
		"url" : "https://boxofficedata.co.uk",
				"logo": {
			"@type": "ImageObject",
			"url": "https://boxofficedata.co.uk/static/icons/icon-hires.png"
		}
	}
{% endblock %}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="{{ url_for('index.distributors') }}">Distributors</a></li>
			<li aria-current="page"><span>{{ distributor.name|title }}</span></li>
		</ul>

		<h1>{{ distributor.name|title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<div class="uk-overflow-auto">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Country</th>
						<th>Updated</th>
						<th class="uk-text-center">Weeks</th>
						<th class="uk-text-center">Multiple</th>
						<th class="uk-text-center">Box Office</th>
					</tr>
					</thead>
					{% for i in data.items %}
						<tr>
							<td>
								<a href="{{ url_for('index.film', slug=i.slug) }}">{{ i|title }}</a>
							</td>
							<td>
								{% for j in i.countries %}
									<a href="{{ url_for('index.country', slug=j.slug) }}">{{ j }}</a>
								{% endfor %}
							</td>
							<td>
								{{ i.weeks[-1].date|date_convert }}
							</td>
							<td class="uk-text-center">
								{{ i.weeks[-1].weeks_on_release }}
							</td>
							<td class="uk-text-center">
								x{{ i.multiple|round(2) }}
							</td>
							<td class="uk-text-center">
								{{ "£{:,}".format(i.weeks[-1].total_gross) }}
							</td>
						</tr>
					{% endfor %}
					<tbody>

					</tbody>
			</table>
		</div>

		{{ pagination.render_detailed_pagination(data, distributor.slug, 'index.distributor') }}

	</div>
{% endblock %}
