{% extends 'base.html' %}

{% block title %}{{ data.name|title }}{% endblock %}

{% block schema %}
	{
		"@context":"https://schema.org/",
		"@type":"Dataset",
		"name":"{{ data.name|title }} Box Office Data",
		"description":"Weekly UK Cinema Box Office data for {{ data.name|title }}.",
		"url":"https://boxofficedata.co.uk{{ url_for(request.endpoint, **request.view_args) }}",
		"isBasedOn":"https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures",
		"keywords":[
		   "BOX OFFICE DATA > CINEMA > {{ data.name }}"
		],
		"isAccessibleForFree" : true,
		"creator":{
		   "@type":"Organization",
		   "url": "https://boxofficedata.co.uk",
		   "name":"Box Office Data UK",
		   "contactPoint":{
			  "@type":"ContactPoint",
			  "contactType": "customer service",
			  "email":"hello@boxofficedata.co.uk"
		   }
		},
		"funder":{
		   "@type": "Organization",
		   "sameAs": "https://ror.org/04qg9vz18",
		   "name": "British Film Institute"
		},
		"includedInDataCatalog":{
		   "@type":"DataCatalog",
		   "name":"Box Office Data UK"
		},
		"distribution":[
		   {
			  "@type":"DataDownload",
			  "encodingFormat":"CSV",
			  "contentUrl":"https://boxofficedata.co.uk{{ url_for(request.endpoint, **request.view_args) }}"
		   }
		],
		"temporalCoverage":"{{ data.weeks[-1].date|date_convert}} - {{ data.weeks[0].date|date_convert }}"
	}
{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="{{ url_for('index.films') }}">Films</a></li>
		<li aria-current="page"><span>{{ data.name|title }}</span></li>
	</ul>

	<h1 class="">{{ data.name|title }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-medium-top">

		<canvas id="myChart" class="" width="100%" height="50px"></canvas>
		<hr class="">

		<div class="uk-column-1-4@s uk-column-1-2m uk-column-divider uk-margin-small-top">
			<div class="uk-margin-small-top">
				{% if data.countries %}
					Country:
					{% for i in data.countries %}
						<a class="action" href="{{ url_for('index.country', slug=i['slug']) }}">{{ i.name }}</a>
					{% endfor %}
				{% endif %}
			</div>

			<div class="uk-margin-small-top">
				<span class="uk-text-middle">
					Distributor: <a class="action" href="{{ url_for('index.distributor', slug=data['distributor']['slug']) }}">{{ data.distributor|title }}</a>
				</span>
			</div>

			<div class="uk-margin-small-top">
				<span>
					Source: <a class="action" href="https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures" target="_blank">bfi.org.uk</a>
				</span>
			</div>

			<button type="button" onclick="exportToCSV(filmsTable)" class="uk-button uk-button-default uk-margin-small-top">Export (.csv)</button>
		</div>

		<div class="uk-overflow-auto uk-margin-medium-top">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped" id="filmsTable">
				<thead>
					<tr>
						<th class="uk-text-center">Weeks</th>
						<th>Date</th>
						<th class="uk-text-center">Rank</th>
						<th class="uk-text-center">Cinemas</th>
						<th class="uk-text-center">Week Box Office</th>
						<th class="uk-text-center">Weekend Box Office</th>
						<th class="uk-text-center">Total Box Office</th>
					</tr>
					</thead>
					<tbody>
					{% for i in data.weeks %}
						<tr class="">
							<td class="uk-text-center">{{ i['weeks_on_release'] }}</td>
							<td><a class="action" href="{{ url_for('index.week_detail', year=i['date']['year'], month=i['date']['month'], start_day=i['date']['day']) }}">
								{{ i['date']|date_convert }}
							</a></td>
							<td class="uk-text-center">{{ i['rank']}}</td>
							<td class="uk-text-center">{{ i['number_of_cinemas'] }}</td>
							<td class="uk-text-center">{{ "£{:,}".format(i['week_gross']) }}</td>
							<td class="uk-text-center">{{ "£{:,}".format(i['weekend_gross']) }}</td>
							<td class="uk-text-center">{{ "£{:,}".format(i['total_gross']) }}</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>
	</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	var time_dates = []
	var week_gross = []
	var cum_gross = []
	'{% for i in chart_data %}'

		time_dates.push('{{ i["index"]|date_convert }}')
		week_gross.push('{{ i["week_gross"] }}')

	'{% endfor %}'
</script>

<script src="{{ url_for('static', filename='js/film_detail.js') }}"></script>

{% endblock %}
