{% extends 'base.html' %}
{% import 'includes/schema.html' as dataschema %}

{% block title %} {{ time }} {% endblock %}

{% block schema %}
	{{ dataschema.render_schema(
		time,
		url_for(request.endpoint, **request.view_args),
		time )
	}}
{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="{{ url_for('index.time') }}">Time</a></li>
		<li aria-current="page"><span>{{ time }}</span></li>
	</ul>

	<h1>UK Box Office {{ time }}</h1>
</div>
{% endblock %}

{% block content %}

	<div class="uk-container uk-margin-medium-top" uk-scrollspy="cls: uk-animation-fade; target: .ul; delay: 1; repeat: true">

		{% if statistics %}
			<div class="uk-column-divider uk-margin-small-top uk-margin-medium-bottom">
				<div class="uk-grid-match uk-text-center uk-grid-divider uk-child-width-1-4@m" uk-grid>
					<div>
						<strong><span uk-icon="credit-card"></span> Total Box Office</strong>
						<p>
							{{  "£{:,}".format(statistics.total_box_office) }}
							<br>
							<div uk-tooltip="Change from last year"
							class="
								{% if statistics.total_pct_change > 0 %}
									uk-text-success
								{% else %}
									uk-text-danger
								{% endif %}">
								{{ (statistics.total_pct_change * 100)|round(2) }}%
							</div>
						</p>
					</div>
					<div>
						<strong><span uk-icon="credit-card"></span> Weekend Box Office</strong>
						<p>
							{{  "£{:,}".format(statistics.weekend_box_office) }}
							<br>
							<div uk-tooltip="Change from last year"
							class="
								{% if statistics.weekend_pct_change > 0 %}
									uk-text-success
								{% else %}
									uk-text-danger
								{% endif %}">
								{{ (statistics.weekend_pct_change * 100)|round(2) }}%
							</div>
						</p>
					</div>
					<div>
						<strong><span uk-icon="table"></span> Number of Releases</strong>
						<p>
							{{ statistics.number_of_releases }}
							<br>
							<div uk-tooltip="Change from last year"
							class="
							{% if statistics.releases_actual_change > 0 %}
								uk-text-success
							{% else %}
								uk-text-danger
							{% endif %}">
							{{ statistics.releases_actual_change }}
						</div>
						</p>
					</div>
					<div>
						<strong><span uk-icon="video-camera"></span> Number of Cinemas</strong>
						<p>{{  statistics.number_of_cinemas }}</p>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="p-centered">

			{% if line_graph_data|length > 1  %}
				<canvas id="myChart" class="mt-5" width="100%" height="50px"></canvas>
				<hr>
			{% endif %}

			<div height="200px">
				<canvas id="barChart" class="mt-5" width="100%" height="50px"></canvas>
			</div>

			<hr>

			<ul class="uk-subnav uk-subnav-divider uk-subnav-pill">
				<li>
					<a href="{{ url_for('index.year_detail', year=year) }}">{{ year }}</a>
				</li>
				{% for j in range(1,5) %}
					<li>
						<a href="{{ url_for('index.quarter_detail', year=year, quarter=j) }}">Q{{ j }}</a>
					</li>
				{% endfor %}
			</ul>

			<ul class="uk-subnav">
				{% for j in range(1,13) %}
					<li>
						<a href="{{ url_for('index.month_detail', year=year, month=j) }}">{{ j|date_convert_to_month }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<hr>

		<ul uk-tab>
			<li><a href="#">Films</a></li>
			<li><a href="#">Weeks</a></li>
		</ul>

		<ul class="uk-switcher uk-margin">
			<li>
				<div class="uk-overflow-auto">
					<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped" id="filmsTable">
						<thead>
							<tr>
								<th class="uk-text-center">Rank</th>
								<th>Film</th>
								<th class="uk-text-center">Weekend Box Office</th>
								<th class="uk-text-center">Week Box Office</th>
								<th class="uk-text-center">Weeks</th>
								<th class="uk-text-center">Cinemas</th>
								<th class="uk-text-center">Site Average</th>
							</tr>
						</thead>
						<tbody>
							{% for i in table_data %}
								<tr>
									<td class="uk-text-center">{{ loop.index }}</td>
									<td><a class="action" href="{{ url_for('index.film', slug=i.slug) }}">{{ i.title|title }}</a></td>
									<td class="uk-text-center">{{ "£{:,}".format(i.weekend_gross) }}</td>
									<td class="uk-text-center">{{ "£{:,}".format(i.week_gross) }}</td>
									<td class="uk-text-center">{{ i.weeks_on_release }}</td>
									<td class="uk-text-center">{{ i.number_of_cinemas }}</td>
									<td class="uk-text-center">{{ "£{:,}".format(i.site_average|round(2)) }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<button type="button" onclick="exportToCSV(filmsTable)" class="uk-button uk-button-default uk-margin-small-top" uk-icon="download">
					Export (.csv)
				</button>
			</li>
			<li>
				<div class="uk-overflow-auto">
					<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
						<thead>
							<tr>
								<th>Week Ending</th>
								<th class="uk-text-center">Weekend Box Office</th>
								<th class="uk-text-center">Week Box Office</th>
								<th class="uk-text-center">Week Change</th>
								<th class="uk-text-center">New Releases</th>
								<th class="uk-text-center">Cinemas</th>
							</tr>
							</thead>
							<tbody>
								{% for i in line_graph_data %}
									{% if loop.nextitem %}
										{% set prev_week = loop.nextitem.week_gross %}
										{% if prev_week %}
											{% set pct_change_week = ((i.week_gross - prev_week) / prev_week) * 100  %}
										{% else %}
											{% set pct_change_week = 0%}
										{% endif %}
									{% else %}
										{% set pct_change_week = 0 %}
									{% endif %}
									<tr>
										<td><a class="action" href="{{ url_for('index.week_detail', year=i.date.year, month=i.date.month, start_day=i.date.day) }}">
											{{ i.date|date_convert }}
										</a></td>
										<td class="uk-text-center">{{ "£{:,}".format(i.weekend_gross) }}</td>
										<td class="uk-text-center">{{ "£{:,}".format(i.week_gross) }}</td>
										{% if pct_change_week|round(2) > 0 %}
											<td class="uk-text-success uk-text-center">{{ pct_change_week|round(2) }}%</td>
										{% elif pct_change_week|round(2) < 0 %}
											<td class="uk-text-danger uk-text-center">{{ pct_change_week|round(2) }}%</td>
										{% else %}
											<td class="uk-text-center">-</td>
										{% endif %}
										<td class="uk-text-center">{{ i.number_of_releases }}</td>
										<td class="uk-text-center">{{ i.number_of_cinemas }}</td>
									</tr>
								{% endfor %}
							</tbody>
					</table>
				</div>
			</li>
		</ul>

		<div>
			Source: <a class="action" href="https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures" target="_blank">bfi.org.uk</a>
		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		var time_dates = []
		var week_gross = []
		var releases = []
		'{% for i in line_graph_data|reverse %}'

			time_dates.push('{{ i["date"]|date_convert }}')
			week_gross.push('{{ i["week_gross"] }}')
			releases.push('{{ i["number_of_releases"] }}')

		'{% endfor %}'

		var films = []
		var box = []
		'{% for i in table_data[:20] %}'

			films.push('{{ i["title"][:20]|title }}')
			box.push('{{ i["week_gross"] }}')

		'{% endfor %}'
	</script>

	<script src="{{ url_for('static', filename='js/time_detail.js') }}"></script>

{% endblock %}
