<!doctype html>
<html lang="en">

	<head>

		{% include 'includes/meta.html' %}
		<title>{% block title %}{% endblock %} - UK Box Office</title>

		<script type="application/ld+json">
			{% block schema %}{% endblock %}
		</script>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-H0HGC7K5TL"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-H0HGC7K5TL');
		</script>

	</head>

	{% include 'includes/navbar.html' %}

	<div class="content" style="min-height: 850px;">
		<header>

			{% block header %}{% endblock %}

		</header>

		{% block content %}{% endblock %}

	</div>

	{% include 'includes/footer.html' %}

</html>
