body {
	font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
	font-size: 100%;
  	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  	color: #434343;
}
::selection {
	background: #C01E5C;
	color: white;
}

.header {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 30px;
	font-weight: 600;
}

.header a {
	color: #434343; 
	text-decoration: none;;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}

.page {
	max-width: 600px;
	margin-top: 50px;
	font-size: 1.25em;
	line-height: 1.58;
	letter-spacing: -.003em;
}

.page a {
	color: #C01E5C;
	text-decoration: none;
	border-bottom: 1px solid #C01E5C;
}

.d-frame {
	position: fixed;
	max-width: 97%;
}

.footer {
	height: 30px;
	padding-top: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: #FFF;
	font-size: 0.7em;
	text-align: right;
}

.footer a {
	color: #FFF;
}

.footer-link {
	display: inline;
	padding: 0 10px 0 10px;

}


.mobileWarning {
	opacity: 0.9;
    text-align: center;
	color: white;
	font-size: 0.8em;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #C01E5C ;
    z-index: 99999;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.mobileWarning a {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 760px) {
	.mobileWarning {display: flex}

  }