beautifulsoup4
coverage
elasticsearch==7.13.4
Flask
Flask-APScheduler
Flask-Caching
Flask-DebugToolbar
Flask-FlatPages
Flask-Limiter
Flask-SQLAlchemy
Flask-WTF
gunicorn
mypy
pandas
pip-tools
pre-commit
prophet
psycopg2-binary
pytest
python-dotenv
python-slugify
requests
virtualenv
xlrd
