<!-- Main navbar -->
<nav class="uk-navbar">
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav  uk-visible@s">
			<li><a class="uk-text-large" href="{{ url_for('index.films') }}">Films</a></li>
			<li><a class="uk-text-large" href="{{ url_for('index.distributors') }}">Distributors</a></li>
			<li><a class="uk-text-large" href="{{ url_for('index.time') }}">Time</a></li>
		</ul>
	</div>
	<div class="uk-navbar-center">
		<ul class="uk-navbar-nav">
			<li class="uk-active">
				<a href="/"> 🍿 UK Box Office Data</a>
			</li>
		</ul>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav uk-visible@s">
			<li>
				{% if g.search_form %}
					<a class="uk-navbar-toggle" uk-search-icon href="#"></a>
					<div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
						<form class="uk-search uk-width-1-1" method="get" action="{{ url_for('index.search') }}">
							{{ g.search_form.q(size=20, class='uk-search-input', placeholder="Search films") }}
						</form>
					</div>
				{% endif %}
			</li>
		</ul>
		<a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
	</div>
</nav>

<!-- Mobile sidenav -->
<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav">
			<li><a class="uk-text-large" href="{{ url_for('index.films') }}">Films</a></li>
			<li><a class="uk-text-large" href="{{ url_for('index.films') }}">Distributors</a></li>
			<li><a class="uk-text-large" href="{{ url_for('index.films') }}">Time</a></li>
			<li>
				{% if g.search_form %}
					<form class="uk-search uk-search-default" method="get" action="{{ url_for('index.search') }}">
						<span class="uk-search-icon-flip" uk-search-icon></span>
						{{ g.search_form.q(size=20, class='uk-search-input', placeholder="Search films") }}
					</form>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
