{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
	<div id="dash" class="uk-container uk-container-xlarge">

		<div class="">
			<div class="uk-inline">
				<span class="uk-form-icon" uk-icon="icon: calendar"></span>
				<input class="uk-input uk-form-width-small date-picker start"></input>
			</div>
			<div class="uk-inline">
				<span class="uk-form-icon" uk-icon="icon: calendar"></span>
				<input class="uk-input uk-form-width-small date-picker end"></input>
			</div>
			<button class="uk-button uk-button-default uk-button-small bg-red" v-on:click="filter_date">Filter</button>

			<div class="uk-button-group uk-width-auto" role="group" aria-label="Filters">
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(7)">7 days</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(30)">30 days</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(90)">3 months</button>
				<button type="button" class="uk-button uk-button-default uk-button-small" v-on:click="filter_days(183)">6 months</button>
			</div>
		</div>

		<div class="uk-grid uk-grid-small uk-child-width-expand uk-margin-small-top" uk-grid="masonry: true">

			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-small uk-card-body border-dash">
					<h6 class="uk-text-meta">Total UK Box Office</h6>
					<line-chart v-if="loaded" :chartdata="chartdata" :options="options"></line-chart>
				</div>
			</div>

			<!-- <div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2 class="uk-card-title">£ ${ boxOffice | Currency }</h2>
						<small class="uk-text-meta">Total Box Office</small>
					</div>
				</div>
			</div> -->

			<div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2>£ ${ boxOffice | Currency }</h2>
					</div>
					<small class="uk-text-meta">Total Box Office</small>
				</div>
			</div>

			<div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2>UK Box Office</h2>
					</div>
					<small class="uk-text-meta">Visualising box office data back to 2001.
						Built by <a href="https://rae.li">rae.li</a>
					</small>
				</div>
			</div>

			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-small uk-card-body border-dash">
					<h6 class="uk-text-meta">UK Box Office per film</h6>
					<area-chart v-if="loaded" :chartdataarea="chartdataarea" :optionsarea="optionsarea"></area-chart>
				</div>
			</div>

			<div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2>${ lastUpdated }</h2>
					</div>
					<small class="uk-text-meta">Last updated</small>
				</div>
			</div>

			<div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2>${ numberOfFilms }</h2>
					</div>
					<small class="uk-text-meta">Number of films</small>
				</div>
			</div>

			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
							{% for i in dates %}
									<a href="{{ url_for('index.week_detail', year=i['date']['year'], month=i['date']['month'], start_day=i['date']['day']) }}">
										{{ i.date|date_convert }} -
									</a>
							{% endfor %}
							<h6 class="uk-text-meta">Recent</h6>
					</div>
				</div>
			</div>

			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-small border-dash">
					<div class="uk-overflow-auto">
						<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped box-table uk-card-body">
							<thead>
								<tr>
									<th></th>
									<th>Title</th>
									<th class="uk-text-center">Box Office</th>
									<th class="uk-text-center">Week</th>
									<th>Distributor</th>
								</tr>
								</thead>
								<tbody id="results">
									<tr class="" v-for="(item, index) in sortedfilms.slice(0, 100)">
										<td class="text-small uk-text-center">${ index + 1 }</td>
										<td class="text-small"><a :href="`/films/${ item.film_slug }/`">${ item.film | TitleCase }</a></td>
										<td class="text-small" style="min-width:100px">£ ${ item.week_gross | Currency }</td>
										<td class="text-small uk-text-center">${ item.weeks }</td>
										<td class="text-small">${ item.distributor | TitleCase }</td>
									</tr>
								</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2>${ numberOfCinemas }</h2>
					</div>
					<small class="uk-text-meta">Number of cinemas</small>
				</div>
			</div>
<!--
			<div class="uk-width-1-4@l">
				<div class="uk-card uk-card-small bg-dash border-dash uk-text-center">
					<div class="uk-card-body">
						<h2 class="uk-card-title">${ numberOfCinemas }</h2>
						<small class="uk-text-meta">Number of cinemas</small>
					</div>
				</div>
			</div> -->
		</div>
	</div>

	<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://unpkg.com/js-datepicker"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
	<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

{% endblock %}
