{% extends 'base.html' %}

{% block title %}{{ data.name }}{% endblock %}

{% block header %}
	<nav aria-label="breadcrumb" class="mt-5">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ url_for('index.countries') }}">Countries</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ data.name }}</li>

		</ol>
	</nav>

	<h1 class="mt-4">{{ data.name }}</h1>
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="table-responsive">
			<table class="table table-striped table-hover pt-2">
				<thead>
					<tr>
						<th>Title</th>
						<th>Distributor</th>
						<th>Last Updated</th>
						<th>Weeks</th>
						<th>Total Box Office</th>
					</tr>
					</thead>
					<tbody>
					{% for i in films|reverse %}
						<tr class="">
							<td><a class="action" href="{{ url_for('index.film', slug=i['slug']) }}">{{ i['name']|title }}</a></td>
							<td><a class="action" href="{{ url_for('index.distributor', slug=i['distributor']['slug']) }}">{{ i['distributor']|title }}</a></td>
							<td>{{ i['weeks'][0]['date']|date_convert }}</td>
							<td>{{ i['weeks'][-1]['weeks_on_release'] }}</td>
							<td>{{ "£ {:,}".format(i['weeks'][-1]['total_gross']) }}</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>

	</div>
{% endblock %}
