{% extends 'base.html' %}

{% block title %}Countries{% endblock %}

{% block header %}
	<nav aria-label="breadcrumb" class="mt-5">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Countries</li>
		</ol>
	</nav>

	<h1 class="mt-4">Countries</h1>

{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="columns">
			<div class="col-sm-4">
				<ul class="list-group list-group-flush">
				{% for i in data %}

					<a class="list-group-item list-group-item-action" href="{{ url_for('index.country', slug=i['slug']) }}">{{ i["name"] }}</a>

				{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}
