{% extends 'base.html' %}

{% block header %}
<nav aria-label="breadcrumb" class="mt-5">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">Home</a></li>
	  <li class="breadcrumb-item active">Distributors</li>
	</ol>
</nav>

<h1 class="mt-4">Distributors</h1>

{% endblock %}

{% block content %}
	<div class="container grid-lg">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Distributor</th>
				</tr>
				</thead>
				<tbody>
				{% for i in data %}
					<tr class="">
						<td><a class="action" href="{{ url_for('index.distributor', slug=i['slug']) }}">{{ i["name"]|title }}</a></td>
					</tr>
				{% endfor %}
				</tbody>
		</table>

		{% if prev_url %}
			<a href="{{ prev_url }}">Newer</a>
		{% endif %}
		{% if next_url %}
			<a href="{{ next_url }}">Older</a>
		{% endif %}
	</div>
{% endblock %}
