{% extends 'base.html' %}
{% import 'includes/pagination.html' as pagination %}

{% block title%}{{distributor.name|title}}{% endblock%}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="{{ url_for('index.distributors') }}">Distributors</a></li>
			<li aria-current="page"><span>{{ distributor.name|title }}</span></li>
		</ul>

		<h1 class="">{{ distributor.name|title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<div class="uk-overflow-auto">
			<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Country</th>
						<th>Last Updated</th>
						<th class="uk-text-center">Weeks</th>
						<th class="uk-text-center">Box Office Total</th>
					</tr>
					</thead>
					{% for i in data.items %}
						<tr>
							<td>
								<a href="{{ url_for('index.film', slug=i['slug']) }}">{{ i|title }}</a>
							</td>
							<td>
								{% for j in i.countries %}
									<a href="{{ url_for('index.country', slug=j['slug']) }}">{{ j }}</a>
								{% endfor %}
							</td>
							<td>
								{{ i.weeks[0].date|date_convert }}
							</td>
							<td class="uk-text-center">
								{{ i.weeks[0].weeks_on_release }}
							</td>
							<td class="uk-text-center">
								{{ "£ {:,}".format(i.weeks[0].total_gross) }}
							</td>
						</tr>
					{% endfor %}
					<tbody>

					</tbody>
			</table>
		</div>

		{{ pagination.render_detailed_pagination(data, distributor.slug, 'index.distributor') }}

	</div>
{% endblock %}
