{% extends 'base.html' %}

{% block title %}{{ data.name|title }}{% endblock %}

{% block schema %}
	{
		"@context":"https://schema.org/",
		"@type":"Dataset",
		"name":"{{ data.name }} Box Office Data",
		"description":"Weekly UK Cinema Box Office data for {{ data.name }}.",
		"url":"/",
		"isBasedOn":"https://www.bfi.org.uk/industry-data-insights/weekend-box-office-figures",
		"keywords":[
		   "BOX OFFICE DATA > CINEMA > {{ data.name }}",
		],
		"isAccessibleForFree" : true,
		"creator":{
		   "@type":"Organization",
		   "url": "https://boxofficedata.co.uk",
		   "name":"Box Office Data UK",
		   "contactPoint":{
			  "@type":"ContactPoint",
			  "contactType": "customer service",
			  "email":"hello@boxofficedata.co.uk"
		   }
		},
		"funder":{
		   "@type": "Organization",
		   "sameAs": "https://ror.org/04qg9vz18",
		   "name": "British Film Institute"
		},
		"includedInDataCatalog":{
		   "@type":"DataCatalog",
		   "name":"Box Office Data UK"
		},
		"distribution":[
		   {
			  "@type":"DataDownload",
			  "encodingFormat":"CSV",
			  "contentUrl":"https://boxofficedata.co.uk"
		   },
		],
		"temporalCoverage":"{{ data.weeks[-1].date|date_convert}}/{{ data.weeks[0].date|date_convert }}",
	}
{% endblock %}

{% block header %}
	<nav aria-label="breadcrumb" class="mt-5">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/">Home</a></li>
		  <li class="breadcrumb-item"><a href="{{ url_for('index.films') }}">Films</a></li>
		  <li class="breadcrumb-item active" aria-current="page">{{ data.name|title }}</li>
		</ol>
	  </nav>

	<h1 class="mt-4">{{ data.name|title }}</h1>
{% endblock %}

{% block content %}

	<div class="container mt-4">
		<div id="dash" class="mt-4">

			<canvas id="myChart" class="" width="100%" height="50px"></canvas>

			<hr>
		</div>

		<div class="row align-items-start">
			<div class="col">
			Country:
			{% for i in data.countries %}
				<a class="action" href="{{ url_for('index.country', slug=i['slug']) }}">{{ i.name }}</a>
			{% endfor %}
			</div>
			<div class="col">
			Distributor: <a class="action" href="{{ url_for('index.distributor', slug=data['distributor']['slug']) }}">{{ data.distributor|title }}</a>
			</div>
			<div class="col">
				<button type="button" onclick="exportToCSV(filmsTable)" class="btn btn-outline-primary float-end">Export (.csv)</button>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-hover mt-4" id="filmsTable">
				<thead>
					<tr>
						<th class="text-center">Weeks</th>
						<th>Date</th>
						<th class="text-center">Rank</th>
						<th class="text-center">Number of cinemas</th>
						<th class="text-center">Week Box Office</th>
						<th class="text-center">Weekend Box Office</th>
						<th class="text-center">Cumulative Box Office</th>
					</tr>
					</thead>
					<tbody>
					{% for i in data.weeks %}
						<tr class="">
							<td class="text-center">{{ i['weeks_on_release'] }}</td>
							<td><a class="action" href="{{ url_for('index.week_detail', year=i['date']['year'], month=i['date']['month'], start_day=i['date']['day']) }}">
								{{ i['date']|date_convert }}
							</a></td>
							<td class="text-center">{{ i['rank']}}</td>
							<td class="text-center">{{ i['number_of_cinemas'] }}</td>
							<td class="text-center">{{ "£ {:,}".format(i['week_gross']) }}</td>
							<td class="text-center">{{ "£ {:,}".format(i['weekend_gross']) }}</td>
							<td class="text-center">{{ "£ {:,}".format(i['total_gross']) }}</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>

	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	function graph(time_dates, week_gross, cum_gross) {
		var ctx = document.getElementById('myChart');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: time_dates,
				datasets: [{
					label: 'Week Box Office',
					data: week_gross,
					backgroundColor: [
						'#FE7E6D',
					],
					borderColor: [
						'#FE7E6D',
					],
					pointStyle: 'circle',
					tension: 0.5,
				}]
			},
			options: {
				responsive: true,
				scales: {
					x: {
						grid: {
							display:false
						},
						distribution: 'series',
						ticks: {
							maxRotation: 0,
							minRotation: 0,
							autoSkip: true
						},
					},
					y: {
						beginAtZero: true,
						ticks: {
							autoSkip: true,
							stepSize: 10000000,
							callback: function(value, index, values) {
								return '£ ' + value;
							}
						}
					},
				}
			}
		});
	}

	function exportToCSV(tableEle, separator = ','){
		const head = ["Weeks", "Date", "Rank", "Number of cinemas", "Week Box Office", "Weekend Box Office", "Cumulative Box Office"]
		let csvRows = [head]
		//only get direct children of the table in question (thead, tbody)
		Array.from(tableEle.children).forEach(function(node){
			//using scope to only get direct tr of node
			node.querySelectorAll(':scope > tr').forEach(function(tr){
				let csvLine = []
				//again scope to only get direct children
				tr.querySelectorAll(':scope > td').forEach(function(td){
					//clone as to not remove anything from original
					let copytd = td.cloneNode(true)
					let data = copytd.textContent

					data = data.replace(/(\s\s)/gm, ' ').replace(/"/g, '""')
					csvLine.push('"'+data+'"')
				})
				csvRows.push(csvLine.join(separator))
			})
		})
		var a = document.createElement("a")
		a.style = "display: none; visibility: hidden" //safari needs visibility hidden
		a.href = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvRows.join('\n'))
		a.download = '{{ data.slug }}.csv'
		document.body.appendChild(a)
		a.click()
		a.remove()
	}

	var time_dates = []
	var week_gross = []
	var cum_gross = []
	'{% for i in chart_data %}'

		time_dates.push('{{ i["index"]|date_convert }}')
		week_gross.push('{{ i["week_gross"] }}')

	'{% endfor %}'

	graph(time_dates, week_gross, cum_gross)

</script>

{% endblock %}
