{% extends 'base.html' %}

{% block title %}Films{% endblock %}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li aria-current="page"><span>Films</span></li>
		</ul>

		<h1 class="">Films</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-small-top">

		{% if g.search_form %}
			<form class="uk-search uk-search-default uk-margin-small-top" method="get" action="{{ url_for('index.search') }}">
				<span class="uk-search-icon-flip" uk-search-icon></span>
					{{ g.search_form.q(size=20, class='uk-search-input', placeholder="Search films") }}
			</form>
		{% endif %}
		<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Distributor</th>
					<th>Last Updated</th>
					<th>Total Box Office</th>
				</tr>
				</thead>
				<tbody>
				{% for i in data.items %}
					<tr class="">
						<td><a class="action" href="{{ url_for('index.film', slug=i['slug']) }}">{{ i['name']|title }}</a></td>
						<td><a class="action" href="{{ url_for('index.distributor', slug=i['distributor']['slug']) }}">{{ i['distributor']|title }}</a></td>
						<td>{{ i['weeks'][-1]['date']|date_convert }}</td>
						<td>{{ "£ {:,}".format(i['weeks'][-1]['total_gross']) }}</td>
					</tr>
				{% endfor %}
				</tbody>
		</table>

	<ul class="uk-pagination">

		{% if data.has_prev %}
			<li><a href="{{ url_for('index.films', page=data.prev_num) }}"><span uk-pagination-previous></span></a></li>
		{% endif %}

		<li>
			<a href="" class="{% if data.page == 1 %}uk-disabled{% endif %}">
			</a>
		</li>

		<!-- Loop through the number of pages to display a link for each-->
		{% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
			<!-- Check for the active page and set the link to "Active"-->
				{% if data.page == page_num %}
				<li class="uk-active">
					<a href="{{ url_for('index.films', page=page_num) }}">
						{{ page_num }}
					</a>
				</li>
				{% else %}
				<li>
					<a href="{{ url_for('index.films', page=page_num) }}">
						{{ page_num }}
					</a>
				</li>
				{% endif %}
			{% else %}
				<li class="uk-disabled"><span>...</span></li>
			{% endif %}
		{% endfor %}
		<li>
			<a href="" class="
			{% if data.page == data.pages %}uk-disabled{% endif %}">
			</a>
		</li>
		{% if data.has_next %}
			<li><a href="{{ url_for('index.films', page=data.next_num) }}"><span uk-pagination-next></span></a></li>
		{% endif %}
	</ul>


	</div>
{% endblock %}
