{% extends 'base.html' %}
{% import 'includes/pagination.html' as pagination %}

{% block title %}Films{% endblock %}

{% block header %}
	<div class="uk-container">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li aria-current="page"><span>Films</span></li>
		</ul>

		<h1 class="">Films</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-small-top">

		{% if g.search_form %}
			<form class="uk-search uk-search-default uk-margin-small-top" method="get" action="{{ url_for('index.search') }}">
				<span class="uk-search-icon-flip" uk-search-icon></span>
					{{ g.search_form.q(size=20, class='uk-search-input', placeholder="Search films") }}
			</form>
		{% endif %}
		<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Distributor</th>
					<th>Last Updated</th>
					<th class="uk-text-center">Total Box Office</th>
				</tr>
				</thead>
				<tbody>
				{% for i in data.items %}
					<tr class="">
						<td><a class="action" href="{{ url_for('index.film', slug=i['slug']) }}">{{ i['name']|title }}</a></td>
						<td><a class="action" href="{{ url_for('index.distributor', slug=i['distributor']['slug']) }}">{{ i['distributor']|title }}</a></td>
						<td>{{ i['weeks'][-1]['date']|date_convert }}</td>
						<td class="uk-text-center">{{ "£ {:,}".format(i['weeks'][-1]['total_gross']) }}</td>
					</tr>
				{% endfor %}
				</tbody>
		</table>

		{{ pagination.render_pagination(data, 'index.films') }}

	</div>
{% endblock %}
