{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
	<div id="dash" class="container-fluid dash mt-3">

		<div class="col">
			<div class="row mb-3">
				<div class="col-sm-1 pt-2">
					<div class="card bg-dash text-center">
						<input id="start" class="date-picker btn form-control form-control-sm"></input>
					</div>
				</div>
				<div class="col-sm-1 pt-2">
					<div class="card bg-dash text-center">
						<input id="end" class="date-picker btn form-control form-control-sm"></input>
					</div>
				</div>
				<div class="col-sm-6 pt-2">
					<button class="btn btn-primary btn-filter input-group-btn btn-sm" v-on:click="filter_date">Filter</button>
					<button type="button" class="btn btn-outline-primary btn-filter input-group-btn btn-sm" v-on:click="filter_days(7)">7 days</button>
					<button type="button" class="btn btn-outline-primary btn-filter input-group-btn btn-sm" v-on:click="filter_days(30)">30 days</button>
					<button type="button" class="btn btn-outline-primary btn-filter input-group-btn btn-sm" v-on:click="filter_days(90)">3 months</button>
				</div>

			</div>
		</div>

		<div class="row align-items-start">
			<div class="col">
				<div class="row mb-3">
					<div class="card mt-2 border-dash">
						<small class="card-title text-muted">Total UK Box Office</small>
						<line-chart class="card-body" v-if="loaded" :chartdata="chartdata" :options="options"></line-chart>
					</div>
				</div>
				<div class="row mb-3">
					<div class="card mt-2 border-dash">
						<small class="card-title text-muted">UK Box Office per film</small>
						<area-chart class="card-body" v-if="loaded" :chartdataarea="chartdataarea" :optionsarea="optionsarea"></area-chart>
					</div>

				</div>
			</div>

			<div class="col">
				<div class="row mb-3">
					<div class="col-sm-6">
						<div class="card mt-2 bg-dash text-center">
							<div class="card-body">
								<h2 class="card-title">£ ${ boxOffice | Currency }</h2>
								<small>Total Box Office</small>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card mt-2 bg-dash text-center">
							<div class="card-body">
								<h2 class="card-title">${ lastUpdated }</h2>
								<small>Last updated</small>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-sm-6">
						<div class="card mt-2 bg-dash text-center">
							<div class="card-body">
								<h2 class="card-title">${ numberOfFilms }</h2>
								<small>Number of films</small>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card mt-2 bg-dash text-center">
							<div class="card-body">
								<h2 class="card-title">${ numberOfCinemas }</h2>
								<small>Number of cinemas</small>
							</div>
						</div>
					</div>
				</div>

				<div class="card border-dash">
					<table class="table table-sm box-table table-hover card-body">
						<thead>
							<tr class="text-center">
								<th></th>
								<th>Title</th>
								<th>Box Office</th>
								<th class="text-center">Week</th>
								<th>Distributor</th>

							</tr>
						  </thead>
						  <tbody id="results">
								<tr class="" v-for="(item, index) in sortedfilms.slice(0, 50)">
									<td class="text-small text-center">${ index + 1 }</td>
									<td class="text-small"><a :href="`/films/${ item.film_slug }`">${ item.film | TitleCase }</a></td>
									<td class="text-small" style="min-width:100px">£ ${ item.week_gross | Currency }</td>
									<td class="text-small text-center">${ item.weeks }</td>
									<td class="text-small">${ item.distributor_id | TitleCase }</td>

								</tr>
						  </tbody>
					</table>
				</div>

			</div>
		</div>
	</div>

	<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://unpkg.com/js-datepicker"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
	<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

{% endblock %}
