{% extends 'base.html' %}

{% block title %}Time{% endblock %}

{% block header %}
<div class="uk-container">
	<ul class="uk-breadcrumb">
		<li><a href="/">Home</a></li>
		<li aria-current="page"><span>Time</span></li>
	</ul>

	<h1 class="">Time</h1>
</div>

{% endblock %}

{% block content %}
	<div class="uk-container uk-margin-medium-top">
		<table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-table-striped">
			<thead>
				<tr>
					<th>Year</th>
					<th>Months</th>
				</tr>
				</thead>
				<tbody>
				{% for i in years %}
					<tr class="">
						<td><a class="uk-label" href="{{ url_for('index.year_detail', year=i) }}">{{ i }}</a></td>
						<td>
							{% for j in months %}

								<a class="uk-label" href="{{ url_for('index.month_detail', year=i, month=j) }}">{{ j|date_convert_to_month }}</a>

							{% endfor %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
		</table>
	</div>
{% endblock %}
